# Node
node_modules/
npm-debug.log*

# Logs
logs
*.log
*.log.*

# Build
dist/
build/

# Environment
.env
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# React/Vite
*.cache
*.parcel-cache
.cache/
.eslintcache

# MongoDB
dump/
